/* App Layout */
.app-layout {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: var(--color-white);
}

.app-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  overflow: hidden;
}
